:root {
	--color-red-50: oklch(97.1% 0.013 17.38);
	--color-red-100: oklch(93.6% 0.032 17.717);
	--color-red-300: oklch(80.8% 0.114 19.571);
	--color-red-400: oklch(70.4% 0.191 22.216);
	--color-red-500: oklch(63.7% 0.237 25.331);
	--color-black: #000;
	--color-white: #fff;
}
